.Board {
  margin: auto;
  display: grid;

  grid-gap: 0;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);

  width: 90vmin;
  height: 90vmin;
}

.CellBackground {
  min-width: 100%;
  min-height: 100%;
}

.CellBackground#white {
  color: black;
  background: radial-gradient(farthest-corner at 25% 25%, #ffffff, #cccccc);
}

.CellBackground#black {
  color: white;
  background: radial-gradient(farthest-corner at 25% 25%, #444444, #222222);
}

.Cell {
  min-width: 100%;
  min-height: 100%;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: flex-end;

  padding-bottom: 10%;
  box-sizing: border-box;
}

.Cell img {
  max-width: 33%;
  filter: drop-shadow(0 0.4vmin 0.2vmin #555555);
}

.Cell#selected {
  background: radial-gradient(farthest-corner at 25% 25%, #8080dd, #5050aa);
  box-shadow: inset 0.2vmin 0.2vmin 0.4vmin #444444;
}

.Cell#attack {
  background-color: #80000080;
}

.Cell#highlighted {
  background-color: #00800080;
}

.Clickable {
  cursor: pointer;
}

.Clickable:hover {
  filter: brightness(1.2);
}

.Clickable:active {
  filter: brightness(1.5);
}
